flow.json
[{"id":"e41bc312.ea2f7","type":"tab","label":"Main Processor","disabled":false,"info":""},{"id":"281469c1.2dcd86","type":"tab","label":"REST API","disabled":false,"info":""},{"id":"e238b3f.5e29e5","type":"mqtt-broker","z":"","name":"jsutton.co.uk","broker":"jsutton.co.uk","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af52c440.c6b8e8","type":"mqtt in","z":"e41bc312.ea2f7","name":"","topic":"/home/#","qos":"0","broker":"e238b3f.5e29e5","x":80,"y":140,"wires":[["4bd0efb3.27c99"]]},{"id":"32cd4ffc.ae953","type":"debug","z":"e41bc312.ea2f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":140,"wires":[]},{"id":"4bd0efb3.27c99","type":"function","z":"e41bc312.ea2f7","name":"Update Live topic List","func":"var message = msg.payload;\nvar topic = msg.topic;\nvar topics = global.get(\"topics\") || {};\n\nif(topic in topics){\n    topics[topic].latest = message;\n    topics[topic].latest_time = new Date();\n} else {\n    var newTopic = {\n        latest : message,\n        latest_time : new Date(),\n        first_seen: new Date(),\n        state : \"new\",\n        type: \"unknown\"\n    }\n    topics[topic] = newTopic;\n}\n\n\n\nglobal.set(\"topics\", topics);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["32cd4ffc.ae953"]]},{"id":"2ebf5b0c.172c14","type":"inject","z":"e41bc312.ea2f7","name":"Clear Context","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["a8a4c4cb.f84018"]]},{"id":"a8a4c4cb.f84018","type":"function","z":"e41bc312.ea2f7","name":"Clear Context","func":"global.set(\"topics\", {})\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":40,"wires":[[]]},{"id":"a2d2dd8d.66154","type":"http in","z":"281469c1.2dcd86","name":"Get Topics","url":"/api/v1/topics","method":"get","upload":false,"swaggerDoc":"","x":80,"y":100,"wires":[["7e170445.b5a89c"]]},{"id":"7e170445.b5a89c","type":"function","z":"281469c1.2dcd86","name":"Return Topic Map","func":"var topics = global.get(\"topics\") || {};\nmsg.payload = topics;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["fe22e7ad.21e9d8"]]},{"id":"fe22e7ad.21e9d8","type":"http response","z":"281469c1.2dcd86","name":"","statusCode":"","headers":{},"x":410,"y":100,"wires":[]},{"id":"23e1a1e4.1feb7e","type":"comment","z":"e41bc312.ea2f7","name":"Main Pipe in","info":"","x":90,"y":100,"wires":[]}]